{% macro formatAddress(address) %}
    {{ address.line1 }}<br>
        {% if address.line2 %}
            {{ address.line2 }}<br>
            {% endif %}
            {{ address.city }}<br>
                {% if address.county %}
                    {{ address.county }}<br>
                    {% endif %}
                    {{ address.postcode }}
                {% endmacro %}