{% extends "layouts/form-page.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% set showBackLink = true %}
{% set pageHeading = "Item list" %}

{% set otherReasonHtml %}
{{ govukInput({
  id: "other-reason",
  name: "paymentMethodReason",
  value: data.paymentMethodReason,
  spellcheck: false,
  classes: "govuk-!-width-one-third",
  label: {
    text: "Reason"
  }
}) }}
{% endset %}

{% block formContent %}
    <form>
        <p>Multiple items can be bought from a single supplier.</p>
        <p>If buying items from more than one supplier, you can
            <strong>add another supplier</strong>
            to the claim after completing this section.</p>

            {{ itemRows }}

     {% for item in items %}

            {{ govukSummaryList({
                        card: {
                            title: {
                            text: item.name
                            },
                            actions: {
                                items: [
                                {
                                    href: "#",
                                    text: "Change"
                                }
                                ]
                            }
                        },
                        rows:[
                            {
                            key: {
                                text: "Category"
                            },
                            value: {
                                text: item.category | lookupText(data.static.itemCategories)
                            }
                            },
                            {
                             key: {
                                text: "Cost"
                            },
                            value: {
                                text: item.cost | currency
                            }
                            }
                        ]
                        }) }}

        {% endfor %}
        {{ govukButton({
                            text: "Add an item",
                            href: 'item-category',
                            classes: "govuk-button--secondary"
                            }) }}
        <hr class="govuk-section-break govuk-section-break--visible">
            <br/> {{ govukInput({
                    id: "additionalCost",
                    name: "additionalCost",
                    value: data.additionalCost,
                    label: {
                        text: "Additional costs (optional)"
                    },
                    hint:{
                        text:'For example, service or delivery charges'
                    },
                    prefix: {
                        text: "£"
                    },
                    classes: "govuk-input--width-5",
                    spellcheck: false
                    }) }}
            {{ govukTextarea({
                    name: "moreInformation",
                    id: "moreInformation",
                    label: {
                        text: "Evidence for additional costs (optional)",
                        classes: "govuk-fieldset__legend",
                        isPageHeading: false
                    }

                            }) }}
            <p>
                <strong>Supplier total
                </strong>
                {{ supplierTotal | currency }}
            </p>
            <hr class="govuk-section-break govuk-section-break--visible">
                <br/> {{ govukRadios({
                    name: "paymentMethod",
                    fieldset: {
                        legend: {
                        text: "Payment method",
                        classes: "govuk-fieldset__legend--m"
                        }
                    },
                    items: [
                        { value: "APPROVAL_TO_BUY", text: "Approval to Buy (A2B)" },
                        { value: "CENTRAL_PAYMENT_SYSTEM", text: "Central Payment System (CPS)",
                         conditional: {
                                    html: otherReasonHtml
                                } }
                        ]
                    }) }}
                {{ govukSelect({
                    id: "accountCode",
                    name: "accountCode",
                    label: {
                        text: "Account code"
                    },
                    items:data.static.accountCodes
                    }) }}
            </form>
        {% endblock %}