{% extends "layouts/form-page.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "macros/radios.njk" import radios %}
{% set showBackLink = true %}
{% block formContent %}
    {{ govukRadios({
        name: "itemSubcategory",
        fieldset: {
            legend: {
            text: ""
            }
        },
        value: itemSubcategory,
        items: radioItems

                
                 }) }}
{% endblock %}