{% extends "layouts/unbranded.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% from "macros/back-link.njk" import backLink %}

{% block pageTitle %}
    GOV.UK page template –
    {{ serviceName }}
    – GOV.UK Prototype Kit
{% endblock %}

{% block backLink %}
{% endblock %}

{% set otherReasonHtml %}
{{ govukInput({
  id: "other-reason",
  name: "otherReason",
  spellcheck: false,
  classes: "govuk-!-width-one-third",
  label: {
    text: "Please specify"
  }
}) }}
{% endset -%}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {{ govukPanel({
            titleText: "Claim cancelled",
            html: "Your reference number<br><strong>HDJ2123F</strong>"
          }) }}

          <h2 class="govuk-heading-m">What to do next</h2>

          <p class="govuk-body">Please copy the below text and paste it into the claimant's UC history.</p>

          <p class="govuk-body">FSF Application HDJ2123F has been cancelled due to agent error. No payment has been issued, and no financial transaction has taken place.</p>

          <p class="govuk-body">
            <a href="/" class="govuk-link">View all claims</a>
          </p>
        </div>
    </div>

{% endblock %}













