{% extends "layouts/branded.html" %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{{ govukPhaseBanner({
  tag: { text: "Alpha" },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab).</a>.' })
}}
{{ govukBackLink({
  text: "Back",
  href: "claims-overview" })
}}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Start a new claim</h1>
    <p class="govuk-body">
      Create a new Flexible Support Fund (FSF) claim where the payment methods
      are:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Approval to Buy (A2B) or</li>
      <li>Central Payment System (CPS)</li>
    </ul>
    <p class="govuk-body">And the customer is:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a Universal Credit claimant applying for FSF1 (Barriers Spend)</li>
      <li>not claiming an In Work Emergency Payment</li>
    </ul>
    <p class="govuk-body"><a href="#" class="govuk-link">Eligibility requirements (opens in new tab)</a></p>

    <h2 class="govuk-heading-m">Before you start</h2>

    <p class="govuk-body">
      Before starting, make sure that you have verified the customer’s identity
      and have access to their:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>National Insurance number</li>
      <li>Universal Credit details</li>
    </ul>
    <p class="govuk-body">Where relevant, you will also need:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>evidence supporting the reason for the claim</li>
      <li>supplier and purchase details for all claimed items</li>
      <li>training course or employer details</li>
      <li>proof of purchase for retrospective payments</li>
    </ul>

    {{ govukButton({
    text: "Start now",
    href: "location",
    isStartButton: true
  }) }}
  </div>
</div>

{% endblock %}