{% extends "layouts/conditional-content-layout.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">{{ data['supplier-name'] }}</span>
    <h1 class="govuk-heading-l">
      Item list
    </h1>

    <p class="govuk-body">Multiple items can be bought from a single supplier.</p>

    <p class="govuk-body">If buying items from more than one supplier, you can <span class="govuk-body govuk-!-font-weight-bold">add another supplier</span> to the claim after completing this section.</p>

    <!-- First summary -->

    {% if data['pickItem'] == 'Tools and equipment' or data['pickItem'] == 'Clothing' %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            {{ data['item-name'] }}
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> {{ data['item-name'] }}</span></a>
            </li>
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> {{ data['item-name'] }}</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Category
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['pickItem'] }}
              </dd>
            </div>
            {% if data['pickItem'] == 'Tools and equipment' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Subcategory
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['equipment'] }}
                </dd>
              </div>
            {% endif %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Product code
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['product-code'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Cost
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['item-cost'] }}
              </dd>
            </div>
            {% if data['pickItem'] == 'Tools and equipment' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Is this a specialist item?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['specialist-item'] }}
                </dd>
              </div>
            {% endif %}
            {% if data['pickItem'] !== 'Training and materials' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  More information
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['moreDetail'] }}
                </dd>
              </div>
            {% endif %}
          </dl>
        </div>
      </div>
    {% elif data['pickItem'] == 'Travel' %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            {{ data['pickItem'] }}
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> {{ data['pickItem'] }}</span></a>
            </li>
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> {{ data['pickItem'] }}</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Subcategory
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['travel'] }}
              </dd>
            </div>
            {% if data['travel'] == 'Fuel' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Distance
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['distance-from'] }}
                </dd>
              </div>
            {% endif %}
            {% if data['travel'] != 'Fuel' and data['travel'] != 'Season ticket' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  From
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['travel-from'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  To
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['travel-to'] }}
                </dd>
              </div>
            {% endif %}
            {% if data['travel'] == 'Season ticket' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  From
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['departure-location'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  To
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['destination-location'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  How often will the customer use the ticket?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['season-ticket-use'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Item name
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['item-name'] }}
                </dd>
              </div>
            {% endif %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Cost
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['costPerItem'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                More information
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['moreDetail'] }}
              </dd>
            </div>
          </dl>
        </div>
      </div>
    {% endif %}

    {% if data['pickItem'] == 'Accommodation' %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            {{ data['accommodation-name'] }}
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> {{ data['accommodation-name'] }}</span></a>
            </li>
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> {{ data['accommodation-name'] }}</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Category
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['pickItem'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['addressLine1'] }}<br>{{ data['addressLine2'] }}<br>{{ data['addressTown'] }}<br>{{ data['addressCounty'] }}<br>{{ data['addressPostcode'] }}<br>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Cost
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['item-cost'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                More information
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['moreDetail'] }}
              </dd>
            </div>
          </dl>
        </div>
      </div>
    {% endif %}

    {% if data['pickItem'] == 'Identification' %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            {{ data['identification-type'] }}
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> {{ data['identification-type'] }}</span></a>
            </li>
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> {{ data['identification-type'] }}</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Category
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['pickItem'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Cost
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['item-cost'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                More information
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['moreDetail'] }}
              </dd>
            </div>
          </dl>
        </div>
      </div>
    {% endif %}

    {% if data['pickItem'] == 'Training and materials' %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            {{ data['item-name'] }}
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> {{ data['item-name'] }}</span></a>
            </li>
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> {{ data['item-name'] }}</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Category
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['pickItem'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Product code
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['product-code'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Cost
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['item-cost'] }}
              </dd>
            </div>
          </dl>
        </div>
      </div>
    {% endif %}

    {% if data['pickItem'] == 'Something else' %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            {{ data['other-name'] }}
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> {{ data['other-name'] }}</span></a>
            </li>
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> {{ data['other-name'] }}</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Category
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['pickItem'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Cost
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['item-cost'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                More information
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['moreDetail'] }}
              </dd>
            </div>
          </dl>
        </div>
      </div>
    {% endif %}

    <!-- Second summary -->
    
    {% if data['pickItem2'] == 'Tools and equipment' or data['pickItem2'] == 'Clothing' %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            {{ data['item-name2'] }}
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> {{ data['item-name2'] }}</span></a>
            </li>
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> {{ data['item-name2'] }}</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Category
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['pickItem2'] }}
              </dd>
            </div>
            {% if data['pickItem2'] == 'Tools and equipment' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Subcategory
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['equipment2'] }}
                </dd>
              </div>
            {% endif %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Product code
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['product-code2'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Cost
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['item-cost2'] }}
              </dd>
            </div>
            {% if data['pickItem2'] == 'Tools and equipment' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Is this a specialist item?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['specialist-item2'] }}
                </dd>
              </div>
            {% endif %}
            {% if data['pickItem2'] !== 'Training and materials' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  More information
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['moreDetail2'] }}
                </dd>
              </div>
            {% endif %}
          </dl>
        </div>
      </div>
    {% elif data['pickItem2'] == 'Travel' %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            {{ data['pickItem2'] }}
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> {{ data['pickItem2'] }}</span></a>
            </li>
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> {{ data['pickItem2'] }}</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Subcategory
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['travel2'] }}
              </dd>
            </div>
            {% if data['travel2'] == 'Fuel' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Distance
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['distance-from2'] }}
                </dd>
              </div>
            {% endif %}
            {% if data['travel2'] != 'Fuel' and data['travel2'] != 'Season ticket' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  From
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['travel-from2'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  To
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['travel-to2'] }}
                </dd>
              </div>
            {% endif %}
            {% if data['travel2'] == 'Season ticket' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  From
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['departure-location2'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  To
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['destination-location2'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  How often will the customer use the ticket?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['season-ticket-use2'] }}
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Item name
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['item-name2'] }}
                </dd>
              </div>
            {% endif %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Cost
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['costPerItem2'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                More information
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['moreDetail2'] }}
              </dd>
            </div>
          </dl>
        </div>
      </div>
    {% endif %}

    {% if data['pickItem2'] == 'Accommodation' %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            {{ data['accommodation-name2'] }}
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> {{ data['accommodation-name2'] }}</span></a>
            </li>
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> {{ data['accommodation-name2'] }}</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Category
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['pickItem2'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['addressLine12'] }}<br>{{ data['addressLine22'] }}<br>{{ data['addressTown2'] }}<br>{{ data['addressCounty2'] }}<br>{{ data['addressPostcode2'] }}<br>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Cost
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['item-cost2'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                More information
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['moreDetail2'] }}
              </dd>
            </div>
          </dl>
        </div>
      </div>
    {% endif %}

    {% if data['pickItem2'] == 'Identification' %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            {{ data['identification-type2'] }}
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> {{ data['identification-type2'] }}</span></a>
            </li>
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> {{ data['identification-type2'] }}</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Category
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['pickItem2'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Cost
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['item-cost2'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                More information
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['moreDetail2'] }}
              </dd>
            </div>
          </dl>
        </div>
      </div>
    {% endif %}

        {% if data['pickItem2'] == 'Training and materials' %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            {{ data['item-name2'] }}
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> {{ data['item-name2'] }}</span></a>
            </li>
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> {{ data['item-name2'] }}</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Category
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['pickItem2'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Product code
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['product-code2'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Cost
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['item-cost2'] }}
              </dd>
            </div>
          </dl>
        </div>
      </div>
    {% endif %}

    {% if data['pickItem2'] == 'Something else' %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            {{ data['other-name2'] }}
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> {{ data['other-name2'] }}</span></a>
            </li>
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> {{ data['other-name2'] }}</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Category
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['pickItem2'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Cost
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['item-cost2'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                More information
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['moreDetail2'] }}
              </dd>
            </div>
          </dl>
        </div>
      </div>
    {% endif %}

    {% if data['pickItem2'] %}
      <a href="#" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Add an item
      </a>
    {% else %}
      <a href="/prototypes/cc-iteration-1/add-item/add-item-2/pick-item-2" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Add an item
      </a>
    {% endif %}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-form-group">
      <label class="govuk-label" for="additional-cost">
        Additional costs (Optional)
      </label>
      <div id="additional-cost-hint" class="govuk-hint">
        For example, service or delivery charges
      </div>
      <div class="govuk-input__wrapper">
        <div class="govuk-input__prefix" aria-hidden="true">£</div>
        <input class="govuk-input govuk-input--width-5" id="additional-cost" name="additionalCost" type="text" spellcheck="false" aria-describedby="additional-cost-hint">
      </div>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="evidence-detail">
        Evidence for additional costs (optional)
      </label>
      <textarea class="govuk-textarea" id="evidence-detail" name="evidenceDetail" rows="5"></textarea>
    </div>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Supplier total
        </dt>
        <dd class="govuk-summary-list__value">
          £124.98
        </dd>
      </div>
    </dl>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Payment method
          </h2>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="paymentMethod" name="paymentMethod" type="radio" value="A28">
            <label class="govuk-label govuk-radios__label" for="paymentMethod">
              Approval to Buy (A28)
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="paymentMethod-2" name="paymentMethod" type="radio" value="CPS">
            <label class="govuk-label govuk-radios__label" for="paymentMethod-2">
              Central Payment System (CPS)
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="accountCode">
        Account code
      </label>
      <select class="govuk-select" id="accountCode" name="accountCode">
        <option value="default" selected>Choose a code</option>
        <option value="op-1">Option 1</option>
        <option value="op-2">Option 2</option>
      </select>
    </div>

    <button type="submit" class="govuk-button" data-module="govuk-button">
      Continue
    </button>

  </div>
</div>

{% endblock %}
