{% extends "layouts/unbranded.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% from "macros/back-link.njk" import backLink %}

{% block pageTitle %}
    GOV.UK page template –
    {{ serviceName }}
    – GOV.UK Prototype Kit
{% endblock %}

{% block backLink %}
    {{ backLink("universal-credit-details") }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Payment</h1>
            <form>

                {{ govukRadios({
                            name: "payment",
                            fieldset: {
                                legend: {
                                text: "Payment will be made"
                                }
                            },
                            items: [
                                {
                                value: "IN_ADVANCE",
                                text: "In advance"
                                },
                                {
                                value: "RETROSPECTIVE",
                                text: "Retrospectively",
                                hint: {text: 'The customer has already purchased all of the items being claimed for and will be reimbursed through Central Payment System (CPS)'}
                                }
                            ]
                            }) }}

                {{ govukButton({
                        text: "Continue",
                        href: "reason"
                        }) }}

            </form>
        </div>
    </div>
{% endblock %}