{% extends "layouts/conditional-content-layout.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">{{ data['supplier-name'] }}</span>
    <h1 class="govuk-heading-l">
      {{ data['pickItem'] }} details
    </h1>

    <div class="govuk-form-group">
      <label class="govuk-label" for="accommodation-name">
        Name
      </label>
      <input class="govuk-input govuk-!-width-one-half" id="accommodation-name" name="accommodation-name" type="text">
    </div>

    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
        Address
      </legend>
      <div class="govuk-form-group">
        <label class="govuk-label" for="address-line-1">
          Address line 1
        </label>
        <input class="govuk-input" id="address-line-1" name="addressLine1" type="text" autocomplete="address-line1">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="address-line-2">
          Address line 2 (optional)
        </label>
        <input class="govuk-input" id="address-line-2" name="addressLine2" type="text" autocomplete="address-line2">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="address-town">
          Town or city
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="addressTown" type="text" autocomplete="address-level2">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="address-county">
          County (optional)
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="addressCounty" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="address-postcode">
          Postcode
        </label>
        <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code">
      </div>
    </fieldset>

    <div class="govuk-form-group">
      <label class="govuk-label" for="item-cost">
        Cost
      </label>
      <div class="govuk-input__wrapper">
        <div class="govuk-input__prefix" aria-hidden="true">£</div>
        <input class="govuk-input govuk-input--width-5" id="item-cost" name="item-cost" type="text" spellcheck="false">
      </div>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="more-detail">
        More information
      </label>
      <div id="more-detail-hint" class="govuk-hint">
        Include any information that supports the claim or explain expensive costs
      </div>
      <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
    </div>

    <div class="govuk-button-group">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </div>
  </div>
</div>

{% endblock %}
