{% extends "layouts/unbranded.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% from "macros/back-link.njk" import backLink %}

{% block pageTitle %}
    GOV.UK page template –
    {{ serviceName }}
    – GOV.UK Prototype Kit
{% endblock %}

{% block backLink %}
    {{ backLink("cancel-supplier-a2b-return-funds") }}
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">
              This claim is not eligible for cancellation
            </h1>

          <p class="govuk-body">Based on your answers, one or more suppliers has funds that are released to the customer. Please follow the <a href="#">guidance</a>.</p>

          <a class="govuk-body" href="/pages/v2/claim-view-cancel-claim-a2b-cps-payment-released">Return to claim</a>
        </div>
    </div>

{% endblock %}













