{% extends "layouts/conditional-content-layout.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Claim details</h1>
    <h2 class="govuk-heading-m">{{ data['claimReason'] }}</h2>

    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <legend class="govuk-fieldset__legend">
      Date
    </legend>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
    <legend class="govuk-fieldset__legend">
      Is the customer currently using the Rapid Response Service?
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Rapid Response Service (RRS)
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>The Rapid Response Service helps workers and employers by giving those facing redundancy access to the services of Jobcentre Plus and its partners before they lose their jobs.</p>
    <p>The support available through the Rapid Response Service is not just about Jobcentre Plus services - where appropriate other partners, such as the LSC, the devolved administrations, Local Authorities and Regional Development Agencies will be involved to provide a package of support to those affected.</p>
  </div>
</details>

    <div class="govuk-button-group">
      <a href="/prototypes/conditional-content/add-supplier" type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </a>
    </div>

  </div>
</div>

{% endblock %}
